 # dependencies
node_modules
.pnp
.pnp.js
.pnpm-store

# testing
coverage
test-results
playwright-report

# next.js
.next
out
dist
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS and editor artifacts
Thumbs.db
*.swp
.idea/
.vscode/

# Supabase
.supabase/

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# lighthouse
.lighthouseci
